
body
{
    background-image:url("/asset/images/background.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:100vh;
}
li a
{
   
        font-family: "Pacifico", serif;
        font-weight: 200;
        font-style: normal;
        ma
}
.navbar
{
    background-color:hsl(0, 2%, 13%) !important;
}
.nav-items
{
    border-radius: 10px;
    outline: 1px solid black;
    
}
.gradient-text {
    background-image: linear-gradient(to right, rgb(11, 41, 236), rgb(255, 1, 1)); 
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
    font-weight: 400; 
}